<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.guli.service.edu.mapper.SubjectMapper">

    <resultMap id="nestedSubject" type="com.atguigu.guli.service.edu.entity.vo.SubjectVo">
        <id property="id" column="id"></id>
        <result property="title" column="title"></result>
        <result property="sort" column="sort"></result>
        <collection property="children"
                    column="id"
                    select="selectNestedListByParentId"
                    ofType="com.atguigu.guli.service.edu.entity.vo.SubjectVo"></collection>
    </resultMap>
    
    <select id="selectNestedListByParentId" resultMap="nestedSubject">
        select  id ,sort ,title from edu_subject where parent_id = #{parent_id}
    </select>
</mapper>
